{% extends "layout.html" %}
{% block title %}
    About
{% endblock %}
{% block main %}
<style>
h4{
    padding-top: 10%;
    color: white;
}
</style>

<div class="container-fluid bg-white">
    <div class="row">
        <div class = "col-sm p-5 m-6 bg-white">
            <div class="row text-center px-3 py-4">
                <p class="pb-4 border-bottom border-black">
                Weather, despite seeming as a simple set of conditions and numbers, is highly subjective. The weather outside could feel warm to one, but cold to another.
                Or, a temperature than one usually finds tolerable all of a sudden feels cold. Dressing inappropriately for the weather can legitimately ruin one's day.

                It's nice that in the present, the daily forecast and conditions are readily accessible. However, these forecasting apps are very general and do not take into account what an individual feels
                or might deem necessary to wear.

                This web app seeks to reduce the daily forecast reading and analyzing that most people do before choosing what to wear. Based on the outdoor conditions and daily forecast, users can receive personalized recommendations on what to wear.
                </p>
            </div>
        </div>
        <div class = "col-sm text-center bg-custom2">
            <h4>User Defined</h4>
            <br>
            <p class="p-3 text-white">
                Users decide the clothing recommendations and can adjust their definitions of hot, cold, etc., as they see fit. This provides many benefits, some of which may be less obvious than others.
                Since each individual will have their own interpretations weather, the user based definitions make this app highly personalized. Furthermore, the process of adjusting temperature scales and/or clothing recommendations
                push users to better understand themselves, hence promoting mindfulness.
        </div>

    </div>
</div>




{% endblock %}