{% extends "layout.html" %}
{% block title %}
    About
{% endblock %}
{% block main %}

<div class="container-fluid bg-white">
    <div class="row">
        <div class = "col-sm p-5 m-6 bg-white">
            <div class="row text-center px-3 py-4">
                <h5 class="pb-4 border-bottom border-black">Dressing poorly for the weather can lead to feeling uncomfortable all day long
                </h5>
            </div>
        </div>
        <div class = "col-sm bg-custom1">
            
        </div>
        
    </div>
</div>




{% endblock %}