{% extends "layout.html" %}
{% block title %}
    Welcome
{% endblock %}
{% block main %}
<style>
    h4, p{
        color: lightskyblue;
        font-family:"Poiret One";
    }
    p{
        font-size: 1.25rem;
    }
</style>
<div class="bg-custom p-4">
    <div class="p-4 bg-white">
<h5 class="text-center pt-4"> Welcome {{name}}!</h5>
<hr>
<h4 class="text-center"> In {{location}}, it's currently {{temp}} &#176;F and {{description}}!</h5>
<h4 class="text-center"> Consider wearing clothes such as {{clothing}}</h5>
<h4 class="text-center"> {{alt}}</h5>
<p class="text-center"> <i>{{analysis}}</i> </p>
</div>
</div>
{% endblock %}